@import "../../assets/styles/global.css";

section.main__container {
  display: block;
  position: absolute;
  justify-content: center;
  top: 5rem;
  width: 100%;
  z-index: -5;
  border: 2px solid white;
}
