@import "../../assets/styles/global.css";

footer {
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  align-items: flex-end;
  background-color: var(--primary-theme-color-400);
  color: var(--primary-text-color);
  font-family: var(--font-medium);
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 20rem;
  
}

a:visited {
    color: var(--primary-text-color);
}

  footer p {
    max-width: 750px;
    width: 25rem;
    text-align: left;
    color: var(--primary-text-color);
  }