/* Custom font import */
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=VT323&display=swap");

/* RESET */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}
:root {
	/* Custom fonts */

	--font-light: "Rajdhani", sans-serif;
	--font-regular: "Rajdhani", sans-serif;
	--font-medium: "Rajdhani", sans-serif;
	--font-bold: "Rajdhani", sans-serif;

	/* Custom font weight */

	--font-weight-light: 300;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;

	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-size: 62.5%;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
}

/* Block level reset */
body {
	margin: 0;
	padding: 0;
	font-size: 1.4rem;
	color: white;
	background-color: #2c001e;
	font-family: var(--font-light);
}

button {
	border: none;
	cursor: pointer;
	background-color: transparent;
	text-align: center;
	transition: background 200ms ease-in-out, transform 100ms ease;
}

/* Inline level reset */
img {
	max-width: 100%;
}

h1,
h2,
h3 {
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	font-size: 2.1rem;
}

a {
	text-decoration: none;
}

a:active {
	color: white;
}
a:link {
	color: white;
}

a:visited {
	color: white;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	text-decoration: none;
}

.root-layout {
	position: relative;
	min-height: 100vh;
}

/* Header */
/* Header Block elements */

header {
	padding: 0.5em 0;
	width: 100%;
	min-height: 5em;
}

nav {
	display: flex;
	max-width: 95%;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
}

.nav__logo {
	height: 4em;
	width: 4em;
}

/* Side nav */

.side-nav {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	padding: 0.5em 0;
	margin: 0;
	z-index: -1;
	top: 0;
	overflow-x: hidden;
	transition: 0.5s;
	background-color: #2c001e;
}

.side-nav__list {
	display: flex;
	flex-direction: column;
	padding: 5em;
	align-items: center;
	width: 95%;
	margin: 0 auto;
}

.side-nav__item {
	padding: 1em 0;
	margin: 0;
}

.side-nav__item:hover {
	color: #c62638;
}

/* Error page */

.error {
	width: 100%;
}

.error-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 95%;
	margin: 10em auto;
}

main {
	padding-bottom: 10em;
}

.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 3em 0;
	padding-bottom: 0;
	margin-bottom: 0;
	margin: 0 auto;
	width: 30em;
	max-width: 80%;
}

.home__content {
	padding-top: 5em;
}

.home__title {
	font-family: var(--font-bold);
	letter-spacing: 0.3rem;
}

.home__title--highlight {
	color: #c62368;
	font-family: var(--font-bold);
}

.home__text {
	font-family: var(--font-regular);
}

.home__quote {
	font-family: var(--font-bold);
	font-weight: var(--font-weight-medium);
}
/* Icons */

.icons {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 1em 0em;
}

.icon__list {
	padding: 0.3em;
}

/* Footer */

.footer {
	bottom: 0;
	display: flex;
	width: 100%;
	position: absolute;
	justify-content: center;
	height: 6em;
}

.footer-text {
	display: flex;
	width: 100%;
	text-align: center;
	justify-content: flex-end;
	width: 60%;
	align-items: center;
	margin: 0 auto;
	flex-direction: column;
	padding: 1.5em 0;
}

/*Filter */
.filter {
	display: flex;
	max-width: 80%;
	margin: 0 auto;
	padding: 0.5em 0;
}

.filter__btn {
	border: 1px solid green;
	margin-right: 1em;
	margin-top: 0.5em;
	color: white;
	padding: 0.8em 1.2em;
	border-radius: 1.2em;
	border-color: #c62368;
	font-family: var(--font-light);
	font-weight: var(--font-weight-medium);
}

.filter__btn:hover {
	background-color: #c62368;
}

.dropdown {
	display: inline;
}

.dropdown-content {
	display: none;
}

.dropdown-content.show {
	display: flex;
	border: 0.1px solid #c62368;
	width: 50%;
	flex-direction: column;
	border-radius: 1.2em;
	margin-top: 0.5em;
	overflow: hidden;
	font-family: var(--font-light);
	font-weight: var(--font-weight-medium);
}

.dropdown__item {
	padding: 0.8rem 0.5em;
}

.dropdown__item:hover {
	background-color: #c62368;
}

/* Project card */

.card {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 2em;
}

.card-content {
	display: flex;
	flex-direction: column;
	width: 80%;
	max-width: 20em;
	border: 2px solid white;
	margin: 0 auto;
	align-items: center;
	padding: 1em;
	margin-top: 2em;
	border-radius: 1.2em;
}

.card__name {
	text-align: center;
	font-size: 2rem;
	font-weight: var(--font-weight-semibold);
}

.card-content:hover {
	color: #c62368;
}
.card__img {
	border-radius: 1.2em;
}

.card__stack {
	display: inline-block;
	flex-direction: column;
	align-items: center;
	color: white;
	padding: 0.2em 1em;
	border-radius: 1.2em;
	margin-right: 0.5em;
	margin-top: 0.5em;
}

.icons-card {
	padding: 0;
	margin: 0;
}

/* Call to action */

.cta {
	display: flex;
	flex-direction: column;
	max-width: 80%;
	margin: 0 auto;
	align-items: center;
	padding: 1em 0;
}

.cta__btn {
	background-color: #c62368;
	padding: 0.8em 2em;
	margin-top: 1em;
	color: white;
	font-family: var(--font-regular);
	font-weight: var(--font-weight-regular);
}

/* Contact form */

.contact-form {
	margin: 1em;
}

.form {
	width: 20em;
	margin: 0 auto;
}

.valid-input {
	border: 2px solid green; /* Green border for valid input */
}

/* Style for invalid input */
.invalid {
	border: 2px solid red;
}

.contact-form__labels {
	display: flex;
	flex-direction: column;
	margin: 1em 0;
	flex-wrap: wrap;
}

input {
	border-radius: 0.4em;
	border: 1px solid white;
	padding: 1em 1.5em;
	margin-bottom: 1em;
}
input:focus {
	outline: none;
	border: 0.2em solid none;
}

label {
	line-height: 2;
	text-align: left;
	margin-bottom: 1em;
	margin-top: 1.5em;
	color: white;
}

textarea {
	display: block;
	box-sizing: border-box;
	width: 100%;
	border-radius: 0.4em;
	border: 1px solid white;
	padding: 1em 1.5em;
	height: 10em;
	margin-bottom: 2em;
}

textarea:focus {
	outline: none;
}

.submit {
	background-color: #c62368;
	padding: 0.8em 4em;
	margin-top: 2em;
	margin: 0 auto;
	color: white;
	font-family: var(--font-regular);
	font-weight: var(--font-weight-regular);
}

button[type="submit"],
input[type="submit"] {
	color: white;
	text-transform: uppercase;
	border: none;
	border-radius: 1.2rem;
	background-color: #c62368;
}

button[type="submit"]:hover,
input[type="submit"]:hover {
	background-color: #2c001e;
	outline: #c62368;
	border: 2px solid #c62368;
}

button[type="submit"]:active,
input[type="button"]:active,
input[type="submit"]:active {
	transition: 0.3s all;
	transform: translateY(3px);
	border: 1px solid transparent;
	opacity: 0.8;
	background-color: #c62368;
}

input:disabled {
	opacity: 0.4;
}

input[type="button"]:hover {
	transition: 0.3s all;
}

:placeholder-shown {
	font-family: var(--font-light);
}

/* about page */

.profile-picture {
	width: 100%;
}

.profile-picture__img {
	width: 50%;
	border-radius: 50%;
}

.about-navigation {
	width: 95%;
	margin: 0 auto;
	margin-top: 2em;
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
}
.about-navigation__btn {
	border: 0.1px solid;
	padding: 0.5em 1em;
	margin: 0.5em 0.5em;
	color: white;
	border-radius: 0.5em;
}
.about-navigation__btn:hover {
	background-color: #c62368;
}
/* About me section */
.aboutMe-container {
	border: 2px solid;
	width: 95%;
	margin: 0 auto;
}

.section-one {
	max-width: 85%;
	margin: 0 auto;
	text-align: justify;
	word-spacing: -0.2rem;
}

.tech-stack {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 85%;
	margin: 0 auto;
	margin-top: 2em;
}

.tech-stack__text {
	margin-top: 1em;
	text-align: center;
	padding-top: 2em 0;
	font-weight: var(--font-weight-semibold);
}

.tech-stack__content {
	width: 10em;
	margin: 2em;
}

.cv-card-container {
	display: flex;
	flex-direction: column;
	max-width: 85%;
	margin: 0 auto;
}

.cv-card {
	width: 90%;
	margin: 0 auto;
	margin-top: 2em;
	border: 0.5px solid white;
	border-radius: 1.2rem;
	padding: 0.5rem 1.5rem 2rem 1.5rem;
}
.bullet-list {
	list-style: inside;
	padding: 0.2em;
	margin-left: 1em;
}

.download {
	display: flex;
	justify-content: center;
	max-width: 85%;
	margin: 0 auto;
	padding: 2em 0;
}

.download__link {
	padding-top: 2em;
	background-color: #c62368;
	padding: 0.8em 2em;
	margin-top: 1em;
	color: white;
	font-family: var(--font-regular);
	font-weight: var(--font-weight-regular);
}

@media (min-width: 660px) {
	body {
		font-size: 2rem;
	}
	h1,
	h2,
	h3 {
		text-transform: uppercase;
		padding: 0;
		margin: 0;
		font-size: 4rem;
	}

	.home {
		padding: 0;
	}
	.home__content {
		padding-top: 0;
	}
	.home__quote {
		width: 85%;
	}
	.home__title {
		padding-top: 2em;
	}
	.nav__logo {
		height: 6em;
		width: 6em;
	}
	/* about */

	.section-one {
		padding-top: 1em;
	}
	.row {
		display: flex;
	}
	.col {
		width: 100%;
	}

	.col + .col {
		margin-left: 2em;
		padding-top: 1em;
	}
	.cv-card {
		width: 80%;
	}
	.filter {
		margin: 0 auto;
		max-width: 80%;
	}
	.card {
		/* max-width: 50%; */
		margin: 0 auto;
	}

	.cta {
		padding-top: 2em;
	}
}
