/* Custom font import */
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=VT323&display=swap");

/* RESET */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}
:root {
	/* Custom fonts */

	--font-light: "Rajdhani", sans-serif;
	--font-regular: "Rajdhani", sans-serif;
	--font-medium: "Rajdhani", sans-serif;
	--font-bold: "Rajdhani", sans-serif;

	/* Custom font weight */

	--font-weight-light: 300;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;

	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-size: 62.5%;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

/* Block level reset */
body {
	margin: 0;
	padding: 0;
	font-size: 1.4rem;
	color: white;
	background-color: #2c001e;
}

button {
	border: none;
	cursor: pointer;
	background-color: transparent;
	text-align: center;
	transition: background 200ms ease-in-out, transform 100ms ease;
}

/* Inline level reset */
img {
	max-width: 100%;
}

h1,
h2,
h3 {
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	font-size: 2.1rem;
}

a {
	text-decoration: none;
}

a:active {
	color: white;
}
a:link {
	color: white;
}

a:visited {
	color: white;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	text-decoration: none;
}

/* Header */
/* Header Block elements */

header {
	padding: 0.5em 0;
	width: 100%;
	min-height: 5em;
}

nav {
	display: flex;
	max-width: 95%;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
}

.nav__logo {
	height: 4em;
	width: 4em;
}

/* Side nav */

.side-nav {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	padding: 0.5em 0;
	margin: 0;
	z-index: -1;
	top: 0;
	overflow-x: hidden;
	transition: 0.5s;
	background-color: #2c001e;
}

.side-nav__list {
	display: flex;
	flex-direction: column;
	padding: 5em;
	align-items: center;
	width: 95%;
	margin: 0 auto;
}

.side-nav__item {
	padding: 1em 0;
	margin: 0;
}

.side-nav__item:hover {
	color: #c62638;
}

/* Error page */

.error {
	width: 100%;
	/* min-height: 100vh; */
}

.error-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 95%;
	margin: 10em auto;
}

main {
	min-height: 400px;
	/* position: absolute; */
}

.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 3em 0;
	margin: 0 auto;
	width: 30em;
	max-width: 80%;
}

.home__title {
	font-family: var(--font-bold);
	letter-spacing: 0.3rem;
}

.home__title--highlight {
	color: #c62368;
	font-family: var(--font-bold);
}

.home__text {
	font-family: var(--font-regular);
}

.home__quote {
	font-family: var(--font-bold);
	font-weight: var(--font-weight-medium);
}
/* Icons */

.icons {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 1em 0em;
}

.icon__list {
	padding: 0.3em;
}

/* Footer */

.footer {
	bottom: 0;
	display: flex;
	width: 100%;
}

.footer-text {
	display: flex;
	/* position: absolute; */
	justify-content: center;
	width: 100%;
	text-align: center;
	/* border: 2px solid white; */
	padding: 2em;
}

/*Filter */
.filter {
	display: flex;
	max-width: 80%;
	margin: 0 auto;
	padding: 0.5em 0;
}

.filter__btn {
	border: 1px solid green;
	margin-right: 1em;
	margin-top: 0.5em;
	color: white;
	padding: 0.8em 1.2em;
	border-radius: 1.2em;
	border-color: #c62368;
	font-family: var(--font-light);
	font-weight: var(--font-weight-medium);
}

.filter__btn:hover {
	background-color: #c62368;
}

.dropdown {
	display: inline;
}

.dropdown-content {
	display: none;
}

.dropdown-content.show {
	display: flex;
	border: 0.1px solid #c62368;
	width: 50%;
	flex-direction: column;
	border-radius: 1.2em;
	margin-top: 0.5em;
	overflow: hidden;
	font-family: var(--font-light);
	font-weight: var(--font-weight-medium);
}

.dropdown__item {
	padding: 0.8rem 0.5em;
}

.dropdown__item:hover {
	background-color: #c62368;
}

/* Project card */

.card {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 5em;
}

.card-content {
	display: flex;
	flex-direction: column;
	width: 80%;
	max-width: 20em;
	border: 2px solid white;
	margin: 0 auto;
	align-items: center;
	padding: 1em;
	margin-top: 2em;
	border-radius: 1.2em;
}

.card-content:hover {
	background-color: white;
	color: black;
}
.card__img {
	border-radius: 1.2em;
}
