:root {
  --primary-theme-color: #2c001e;
  --primary-theme-color-400: #55003a;
  --primary-theme-color-300: #7e0056;
  --primary-theme-color-300: #a60071;

  --secondary-theme-color: #f1efea;
  --secondary-theme-color-dark-600: #dbd5c8;
  --secondary-theme-color-light-400: #ffffff;

  --primary-text-color: #aea79f;
  --primary-text-color-400: #c1bbb5;
  --primary-text-color-300: #d3d0cb;

  --secondary-text-color: #333333;
  --secondary-text-color-400: #474747;
  --secondary-text-color-300: #5c5c5c;

  background-color: var(--primary-theme-color);

  --paragraph-font-size: 1.2rem;

  --border: solid 0.1rem var(--dark-color);
  --light-border: solid 0.1rem var(--light-color);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
}

li a {
  text-decoration: none;
}
