@import "../../../assets/styles/global.css";
nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(
    45deg,
    var(--primary-theme-color),
    purple
  );
}

.list {
  list-style-type: none;
  background: linear-gradient(
    45deg,
    var(--primary-theme-color),
    purple
  );
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.items {
  margin-right: 20px;
  font-size: 20px;
  text-transform: uppercase;
  color: #f1f1f1;
  cursor: pointer;
}

.menuContainer {
  display: none;
}

@media screen and (max-width: 500px) {
  .list {
    flex-direction: column;
    height: auto;
  }
  .items:nth-child(1) {
    border-top: 1px solid
      rgba(255, 255, 255, 0.555);
    margin-top: 50px;
  }
  .items {
    width: 100%;
    border-top: 1px solid
      rgba(255, 255, 255, 0.555);
    text-align: center;
    margin-right: 0px;
    padding: 20px 0;
  }
  .menuContainer {
    display: block;
    position: absolute;
    right: 10px;
    top: 7px;
  }
  .iconMenu {
    fill: white;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
    height: 40px;
    width: 40px;
  }

  .customHeight {
    height: 50;
  }

  .customWidth {
    width: 50;
  }

  button {
    background-color: transparent;
    border: none;
  }
}
